.social-login
    button.social-login--github
        a(href=routes.github) 
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login--kakao
        a(href=routes.kakao) 
            span
                i.fas.fa-comment
            |Continue with Kakao
    button.social-login--naver
        a(href=routes.naver) 
            span 
                i.naver-icon N
            |Continue with Naver