.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .join__text {
    margin: 20px 0px;
    font-size: 18px;
  }
  form {
    .input-icons {
      margin-bottom: 15px;
      margin-top: 10px;
      position: relative;
      i {
        position: absolute;
        top: 13px;
        left: 10px;
        color: rgba(0, 0, 0, 0.6);
      }
      input {
        width: 100%;
        font-size: 14px;
        max-width: 320px;
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        &::placeholder {
          font-size: 13px;
        }
      }
      input[type="submit"] {
        background-color: #3498db;
        color: white;
      }
      input[type="text"] {
        box-sizing: border-box;
        padding-left: 30px;
      }
      input[type="email"] {
        box-sizing: border-box;
        padding-left: 30px;
      }
      input[type="password"] {
        box-sizing: border-box;
        padding-left: 30px;
      }
    }
  }
}
