.videoPlayer__container {
  position: relative;
  width: fit-content;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
    .videoPlayer__title {
      opacity: 1;
    }
  }
  video {
    max-width: 100%;
  }
}

.videoPlayer__controls {
  opacity: 0;
  transition: opacity 0.4s linear;
  width: 90%;
  position: absolute;
  border-radius: 3px;
  background-color: rgba(216, 216, 216, 0.1);
  z-index: 9;
  bottom: 10px;
  box-sizing: border-box;
  color: white;
  padding: 10px 15px;
  margin-left: 80px;
  display: grid;
  grid-template-columns: 30px 1fr 30px 30px;
}

.videoPlayer__column {
  i {
    cursor: pointer;
  }
}

.videoPlayer__column:first-child {
  justify-self: start;
  i {
    margin-right: 5px;
  }
}

.videoPlayer__column:nth-child(2) {
  position: relative;
  width: 380px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoPlayer__column:last-child {
  justify-self: end;
}

.timer__bar {
  position: absolute;
  background-color: grey;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background-color: $red;
  z-index: 2;
  margin-bottom: 2px;
}

.videoPlayer__column:nth-child(2) span {
  font-size: 12px;
}
