extends layouts/main.pug

block content
    .form-continer
        form(action=`videos/${routes.editVideo}`, method="post")
            input(type="text", name="title", placeholder="Title")
            textarea(name="description", placeholder="Description")
            input(type="submit", value="Edit Video")
            a.form-conintaer__link--delete(href=`/videos${deleteVideo}`) Delete Video